.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libbrotlidec.la
libbrotlidec.pc
libbrotlienc.la
libbrotlienc.pc
libtool
ltmain.sh
m4/
missing
nbproject/
stamp-h1
